* {
    margin: 0;
    padding: 0;
}

/* Timer expired modal */
#modal-timer-expired {
    z-index: 1;
}
#modal-timer-expired-wrap {
    background: rgba(0, 0, 0, 0.75);
}

/* Alerts */
#alerts {
    z-index: 2;
    top: 1rem;
}